<!-- MAIN LOAD -->
<div main-loading [fxHide]="!uploading">
    <div class="spinner"></div>
</div>

<div [hidden]="uploading" class="upcrop-crop">
    <h2 class="has-text-centered mat-subheading-2">Imagem {{currentNumber + 1}} de {{uploader?.queue?.length}}</h2>

    <div class="crop-image-container">
        <angular-cropper #angularCropper *ngIf="current && current._dataUrl" [cropperOptions]="config" [imageUrl]="current?._dataUrl"></angular-cropper>
    </div>

    <!--CROPPER CONTROLS-->
    <div class="crop-controls" fxLayout fxLayoutAlign="center center" fxLayoutWrap *ngIf="current && current._dataUrl">
        <button md-button (click)="zoomIn()" class="md-icon-button" aria-label="Aumentar zoom" mdTooltip="Aumentar zoom">
            <md-icon>zoom_in</md-icon>
        </button>

        <button md-button (click)="zoomOut()" class="md-icon-button" aria-label="Diminuir zoom" mdTooltip="Diminuir zoom">
            <md-icon>zoom_out</md-icon>
        </button>

        <button md-button (click)="goLeft()" class="md-icon-button" aria-label="Mover para esquerda" mdTooltip="Mover para esquerda">
            <md-icon>keyboard_arrow_left</md-icon>
        </button>

        <button md-button (click)="goRight()" class="md-icon-button" aria-label="Mover para direita" mdTooltip="Mover para direita">
            <md-icon>keyboard_arrow_right</md-icon>
        </button>

        <button md-button (click)="goUp()" class="md-icon-button" aria-label="Mover para cima" mdTooltip="Mover para cima">
            <md-icon>keyboard_arrow_up</md-icon>
        </button>

        <button md-button (click)="goDown()" class="md-icon-button" aria-label="Mover para baixo" mdTooltip="Mover para baixo">
            <md-icon>keyboard_arrow_down</md-icon>
        </button>

        <button md-button (click)="reset()" class="md-icon-button md-primary" aria-label="Restaurar imagem original" mdTooltip="Restaurar imagem original">
            <md-icon>cached</md-icon>
        </button>
    </div>
</div>